@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.crytoImageHeight {
  height: 150px;
}

.crytoImageHeight_two {
  height: 200px;
}
.starSize {
  font-size: 16px;
}

.starSize:hover {
  color: yellow;
}

/* MAG glass */
.search {
  padding-left: 20px;
  background: url('../assets//img/search-solid.svg') no-repeat 6px;
  background-size: 16px;
  margin: 10px;
}

.animate-spin {
  animation: spin 3s linear infinite !important;
  rotate: 20deg;
  margin-top: 3px;
}

/* when theme changes to light/night */
.cryptoNamedAlign {
  position: relative;
  top: 41.5px;
}
[data-theme='light'] .ST {
  color: #000;
}
[data-theme='forest'] img.btcBL {
  height: 450px;
}
[data-theme='light'] .CN {
  color: #000;
}
[data-theme='light'] .CN::first-letter {
  color: #000;
  font-weight: normal;
}

[data-theme='light'] .BC {
  border-color: #000;
}

[data-theme='light'] .starClrLght:hover {
  color: red;
}

/* Define the rubber band animation */
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* Apply the rubber band animation to the tooltip content */
.tippy-content {
  animation: rubberBand 0.75s;
}

/* [data-theme='forest'] .lineBL {
  color: #ff0000;
} */

/*  */
.nestTTl {
  font-size: 35px;
  letter-spacing: 1px;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 768px) {
  .nestTTl {
    margin-left: 130px;
  }
}
.warn_anim {
  opacity: 0;
  transform: translateY(15px);
  transition: 1s all ease-in-out;
  color: blue;
  font-weight: bold;
}
.warn_anim_appeared {
  background-color: #fff;
  opacity: 1;
  /* display: flex; */
  border-radius: 0.3rem;
  transform: translateY(0);
}
.ok_anim {
  opacity: 0;
  transform: translateY(15px);
  transition: 1s all ease-in-out;
  color: yellow;
  font-weight: bold;
}
.ok_anim_appeared {
  background-color: transparent;
  opacity: 1;
  /* display: flex; */
  border-radius: 0.3rem;
  transform: translateY(0);
}
